.navbar {
    background-color: rgb(214, 18, 58);
    padding: 1em;
    color: white;
    display: flex;
    gap: 1em;

    > a {
        text-decoration: none;
        background-color: rgb(214, 18, 58);
        color: white;
        padding: 1em;
        border-radius: 0.3em;

        &:hover {
            background-color: rgb(167, 17, 47);
            color: white;
        }
        &:active {
            background-color: rgb(134, 3, 29);
            color: white;
        }
    }
}